<nav class="docs-navigation" role="navigation">
	<input type="text" class="docs-navigation__filter" placeholder="Search documentation" id="filter">
	<ul class="docs-navigation__menu">
		{% for cat in site.data.docs %}
			{% assign has_docs = cat.items | where_exp: "item", "item == page.url" | first %}
			{% assign has_page = cat.items | where: "url", page.url | first %}
			<li class="docs-navigation__cat {% if has_docs or has_page %}is-active{% endif %}">
				<h4 class="docs-navigation__heading">{{ cat.title }}</h4>
				<ul class="docs-navigation__list">
					{% for item in cat.items %}
						{% if item.title %}
							<li class="docs-navigation__item {% if item.url == page.url %}is-active{% endif %}"><a class="docs-navigation__link" href="{{ item.url }}">{{ item.title }}</a></li>
						{% else %}
							{% assign p = site.docs | where: "url", item | first %}
							<li class="docs-navigation__item {% if item == page.url %}is-active{% endif %}"><a class="docs-navigation__link" href="{{ p.url }}">{{ p.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</li>
		{% endfor %}
	</ul>
</nav>
