<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% seo %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="icon" href="/assets/images/icon.png" sizes="32x32">
	<link rel="icon" href="/assets/images/icon.png" sizes="192x192">
	<link rel="apple-touch-icon-precomposed" href="/assets/images/icon.png">
	<meta name="msapplication-TileImage" content="/assets/images/icon.png">
</head>
<body data-no-instant>
<div class="site">
	<div class="top-bar" data-no-instant>
		<nav class="header-navigation top-bar-navigation" role="navigation">
			<ul class="menu">
				<li class="menu-item"><a href="http://demo.metabox.io">Demo</a></li>
				<li class="menu-item"><a href="https://metabox.io/online-generator/">Online Generator</a></li>
			</ul>
		</nav>
		<nav class="header-navigation top-bar-navigation" role="navigation">
			<ul class="menu">
				<li class="menu-item"><a href="https://metabox.io/my-account/">My Account</a></li>
			</ul>
		</nav>
	</div>
	<header id="masthead" class="site-header" role="banner">
		<div class="site-branding">
			<a href="https://metabox.io/" class="logo" rel="home">
				<img class="logo" src="/assets/images/logo.png" alt="meta box logo" width="46" height="46">
			</a>
			<h1 class="site-title"><a href="https://metabox.io" rel="home">Meta Box</a></h1>
		</div>

		<nav id="site-navigation" class="main-navigation header-navigation" role="navigation">
			<button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false">Menu</button>
			<ul id="primary-menu" class="menu nav-menu" aria-expanded="false">
				<li class="menu-item"><a href="https://metabox.io/meta-box/">Features</a></li>
				<li class="menu-item"><a href="https://metabox.io/pricing/">Pricing</a></li>
				<li class="menu-item"><a href="https://metabox.io/plugins/">Extensions</a></li>
				<li class="menu-item current-menu-item menu-item-has-children"><a href="#">Support</a>
					<ul class="sub-menu">
						<li class="menu-item current-menu-item"><a href="/">Documentation</a></li>
						<li class="menu-item"><a href="https://metabox.io/support/">Support Forum</a></li>
					</ul>
				</li>
				<li class="menu-item"><a href="https://metabox.io/blog/">Blog</a></li>
				<li class="menu-item"><a href="https://wordpress.org/plugins/meta-box/" class="button button--cyan button--menu" rel="nofollow" target="_blank">Get Meta Box</a></li>
			</ul>
		</nav>
	</header>
