## Installation
Before installing the extension, you need to install Meta Box plugin first.

1. Go to *Plugins &rarr; Add New* and search for **Meta Box**
1. Click **Install Now** button to install the plugin
1. After installing, click **Activate Plugin** to activate the plugin

The extension is just a WordPress plugin, you can install it like a normal WordPress plugin.

1. Go to *Plugins*, click **Add new**, then click **Upload plugin**.
1. Choose the `.zip` file you downloaded and click **Install now**
1. After finishing upload, click **Activate** to finish.