* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1.6rem;
	line-height: 1.7;
	color: #2c3e50;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	background: #e6e6e6;
}
h1, h2, h3, h4 {
	clear: both;
	line-height: 1.2;
	margin: 2.5em 0 1em;
	text-transform: capitalize;
}
h1 {
	font-size: 3.6rem;
	.wf-active & {
		font-family: "Roboto Slab", sans-serif;;
	}
}
h2 {
	font-size: 2.4rem;
	.wf-active & {
		font-family: "Roboto Slab", sans-serif;;
	}
}
h3 {
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}
p, ul, ol, table {
	margin: 0 0 1.7em;
}
a {
	color: #00b1b3;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}
table {
	width: 100%;
	font-size: 1.4rem;
	border-collapse: collapse;
}
th,
td {
	border-bottom: 1px solid #ddd;
	padding: 5px 20px 5px 0;
	text-align: left;

	&:last-child {
		padding-right: 0;
	}
}
th {
	border-width: 0 0 3px 0;
}
button {
	display: inline-block;
	border: 2px solid #2c3e50;
	border-radius: 4px;
	background: #2c3e50;
	color: #fff;
	line-height: 1;
	padding: 14px 18px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	transition: all .2s;
	cursor: pointer;

	&:hover {
		text-decoration: none;
		opacity: .9;
	}
}
pre, code {
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .125);
	border-radius: 3px;
}
code {
	background: #f8f8f8;
	padding: 2px 4px;
	color: #d14;
	font-size: .8125em;
	text-transform: none;
	font-weight: normal;
}
pre {
	padding: .6em 1em;
	margin: 0 0 1.7em;
	white-space: pre-wrap;
	line-height: 1.4;
}
pre code {
	padding: 0;
	box-shadow: none;
	background: none;
}
img {
	max-width: 100%;
	height: auto;
}
::placeholder {
	color: #999;
}
.icon {
	color: inherit;
	fill: currentColor;
	height: 32px;
	vertical-align: middle;
	width: 32px;
}
.alert {
	background: #64b5f6;
	padding: 15px 15px 20px 55px;
	margin: 0 0 1.7em;
	color: #fff;
	border-radius: 3px;
	position: relative;

	p {
		margin: 0;
	}
	a {
		color: inherit;
		text-decoration: underline;
	}
	.icon {
		position: absolute;
		position: absolute;
		top: 15px;
		left: 18px;
		width: 25px;
		height: 40px;
	}
}
.alert-warning {
	background: #f6b664;
}
.alert-danger {
	background: #f4645f;
}