.top-bar,
.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.top-bar {
	background: #f6f6f6;
	padding: 12px 15px;
}

/**
 * Side header
 */
.site-header {
	padding: 15px;
	position: sticky;
	top: 0;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
	z-index: 9;
}
.logo {
	display: block;
}
.site-title {
	font-size: 3rem;
	letter-spacing: -1px;
	margin: 0;

	a {
		display: flex;
		align-items: center;
		color: #000;

		&:hover {
			text-decoration: none;
		}
	}
	svg {
		margin-right: 7px;
	}
}

.header-navigation {
	text-transform: uppercase;
	font-weight: bold;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	a {
		color: inherit;

		&:hover {
			text-decoration: none;
			color: #00b1b3;
		}
	}
}
.menu-item {
	display: inline-block;
	position: relative;
}
.current-menu-item > a {
	color: #00b1b3;
}
.menu-item-has-children > a:after {
	content: "";
	display: block;
	border: 4px solid transparent;
	border-top-color: inherit;
	position: absolute;
	right: -11px;
	top: 50%;
	margin-top: -1px;
}

/**
 * Top bar menu
 */
.top-bar-navigation {
	font-size: 1.1rem;

	.menu-item + .menu-item {
		margin-left: 20px;
	}
}

/**
 * Main menu
 */
.main-navigation {
	font-size: 1.4rem;

	> .menu > .menu-item + .menu-item {
		margin-left: 30px;
	}

	ul {
		display: none;

		ul {
			background: #fff;
			box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 9;
			font-size: 1.1rem;

			a {
				width: 160px;
				padding: 10px;
				border-bottom: 1px solid rgba(0, 0, 0, .05);
			}
		}
	}
	li:hover > ul,
	li.focus > ul {
		left: auto;
	}

	a {
		display: block;
		padding: 10px 0;
	}
	.button--menu {
		background: #00b1b3;
		color: #fff;
		padding: 14px 18px;
		line-height: 1;
		border-radius: 4px;
		border: 2px solid #00b1b3;

		&:hover {
			opacity: .9;
			color: #fff;
		}
	}
}

/* Small menu. */
.menu-toggle,
.toggled ul {
	display: block;
}
.menu-toggle {
	padding: 10px;
}
@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
.toggled {
	> .menu {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 9;
		background: #f6f6f6;
	}
	.menu-item {
		display: block;
	}
	> .menu .menu-item + .menu-item {
		margin: 0;
	}
	a {
		padding-left: 10px;
		padding-right: 10px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	}
	.menu-item-has-children > a:after {
		display: none;
	}
	ul ul {
		position: relative;
		box-shadow: none;
		background: #f0f0f0;
		text-indent: 20px;
		top: initial;
		left: initial;

		a {
			width: 100%;
		}
	}
}

