.site {
	background: #fff;
	max-width: 1440px;
	margin: 0 auto;
}
.container {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}
.site-content {
	display: flex;
	padding: 0 70px;
}
.docs-navigation {
	flex: 0 0 260px;
	border-right: 1px solid #ddd;
	padding: 70px 40px 70px 0;
}
.hentry {
	padding: 70px 0 70px 40px;
	min-width: 0;
	flex: 1;
}
.entry-title {
	margin: 0;
	display: inline-block;
}
.edit {
	float: right;
	margin: 7px 240px 0 0;
	font-size: 1.3rem;
}
.entry-body {
	display: flex;
}
.entry-content {
	min-width: 0;
	padding-right: 40px;
	flex: 1;
}
.toc {
	flex: 0 0 200px;
}
.no-toc {
	.edit {
		margin-right: 0;
	}
	.enrty-content {
		padding-right: 0;
	}
	.toc {
		display: none;
	}
}

@media (max-width: 1279px) {
	.container {
		width: 980px;
	}
}
@media (max-width: 1279px) {
	.entry-body {
		flex-direction: column;
	}
	.entry-content {
		padding-right: 0;
		order: 2;
	}
	.toc {
		order: 1;
	}
	.toc-heading {
		display: none;
	}
	.edit {
		margin-right: 0;
	}
}
@media (max-width: 1023px) {
	.container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.site-content {
		padding: 0 20px;
	}
	.docs-navigation {
		flex: 0 0 200px;
		padding: 40px 20px 40px 0;
	}
	.hentry {
		padding: 40px 0 40px 20px;
	}
	.entry-title {
		display: block;
	}
	.edit {
		float: none;
	}
}
@media (max-width: 767px) {
	.site-content {
		flex-direction: column;
	}
	.docs-navigation {
		flex: 1;
		padding-right: 0;
		border-right: none;
	}
	.hentry {
		padding-left: 0;
	}
}