{% include header.html %}

<main id="main" class="site-content" role="main">
	{% include docs-navigation.html %}
	<article class="hentry">
		<header class="entry-header">
			<h1 class="entry-title">{{ page.title }}</h1>
			<a class="edit" target="_blank" href="//github.com/wpmetabox/docs/edit/master/{{ page.path }}"><svg class="icon icon-edit" aria-hidden="true" role="img"><use href="#icon-edit" xlink:href="#icon-edit"></use></svg>Edit this page on Github</a>
		</header>
		<div class="entry-body">
			<div class="entry-content">
				{{ content }}

				<p><a target="_blank" href="//github.com/wpmetabox/docs/edit/master/{{ page.path }}"><svg class="icon icon-edit" aria-hidden="true" role="img"><use href="#icon-edit" xlink:href="#icon-edit"></use></svg>Edit this page on Github</a></p>
			</div>
			<aside class="toc">
				<div class="toc-wrapper">
					<h4 class="toc-heading">Table Of Content</h4>
					<nav class="toc-navigation" role="navigation"></nav>
				</div>
			</aside>
		</div>
	</article>
</main>

{% include footer.html %}
